<h3>Hardware Projects</h3>
<a class="sidebar" href="/pages/cpu.html" color="#ffffff">Homebrew CPUs</a>
<a class="sidebar" href="/pages/mda.html" color="#ffffff">MDA monitor</a>
<a class="sidebar" href="/pages/ide.html" color="#ffffff">Arduino IDE</a>
<hr>
<h3>Software Projects</h3>
<a class="sidebar" href="https://github.com/Von-Braun/Monitor" color="#ffffff">Monitor</a>
<a class="sidebar" href="https://github.com/Von-Braun/NTSB_bot" color="#ffffff">NTSB bot</a>
<a class="sidebar" href="https://github.com/Von-Braun/FMAPI" color="#ffffff">FMAPI</a>
<a class="sidebar" href="https://github.com/Von-Braun/Youtube_DL_GUI" color="#ffffff">Youtube_DL_GUI</a>
<a class="sidebar" href="https://github.com/Von-Braun?tab=repositories" color="#ffffff">more...</a>
<hr>
<a class="sidebar" href="/pages/pictures.html" color="#ffffff">Pictures</a>
<a class="sidebar" href="/pages/contact.html" color="#ffffff">Contact</a>