<h3>Hardware Projects</h3>
<a class="sidebar" href="458.html" color="#ffffff">Homebrew CPUs</a>
<a class="sidebar" href="458.html" color="#ffffff">MDA monitor</a>
<a class="sidebar" href="458.html" color="#ffffff">Arduino IDE</a>
<hr>
<h3>Software Projects</h3>
<a class="sidebar" href="458.html" color="#ffffff">map generator</a>
<a class="sidebar" href="458.html" color="#ffffff">NTSB bot</a>
<a class="sidebar" href="458.html" color="#ffffff">FMAPI</a>
<a class="sidebar" href="458.html" color="#ffffff">Youtube_DL_GUI</a>
<a class="sidebar" href="458.html" color="#ffffff">more...</a>
<hr>
<a class="sidebar" href="458.html" color="#e13396">Pictures</a>
<a class="sidebar" href="458.html" color="#ffffff">Downloads</a>
<a class="sidebar" href="458.html" color="#ffffff">Contact</a>